<footer id="about" class="page-footer grey darken-3 footer">
    <div class="container">
        <div class="row footer__content">
            <div class="col s12 m12 l12 xl8">
                <h5 class="white-text">معلومات عنا</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis quisquam fugit cumque quibusdam
                    consequuntur facilis voluptas nemo a? Quod, incidunt ad quia cupiditate placeat non laudantium
                    sit sapiente dicta provident?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nesciunt vitae ipsa repellat,
                    alias animi!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, adipisci quo doloremque nobis
                    magnam facere reprehenderit delectus itaque iusto praesentium blanditiis ratione tenetur at
                    ipsum ipsam sapiente consectetur suscipit aliquid velit debitis perferendis corrupti? Dolore
                    cumque ad aperiam voluptates eum.</p>
            </div>
            <div class="col s12 m12 l12 xl4 footer__contact">
                <h5>اتصل بنا</h5>
                <ul class="contact-list">
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="#!">
                            <i class="fa fa-mobile fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Phone.Primary}}</span>
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="#!">
                            <i class="fa fa-mobile fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Phone.Secondary}}</span>
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="#!">
                            <i class="fa fa-phone fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Phone.Fixed}}</span>
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="mailto:{{Data.Config.Email}}">
                            <i class="fa fa-at fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Email}}</span>
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="{{Data.Config.Facebook.Link}}" target="_blank">
                            <i class="fab fa-facebook fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Facebook.Name}}</span>
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="{{Data.Config.Instagram.Link}}" target="_blank">
                            <i class="fab fa-instagram fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Instagram.Name}}</span>
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a class="grey-text text-lighten-3" href="{{Data.Config.Youtube.Link}}" target="_blank">
                            <i class="fab fa-youtube fa-lg contact-list__icon"></i>
                            <span>{{Data.Config.Youtube.Name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer__extra">
            <div class="col s12 m12 l4">
                <h5 class="white-text">أهداف</h5>
                <ul>
                    <li><a class="grey-text lighten-3">Lorem, ipsum dolor.</a></li>
                    <li><a class="grey-text lighten-3">Lorem, ipsum.</a></li>
                    <li><a class="grey-text lighten-3">Lorem ipsum dolor sit.</a></li>
                </ul>
            </div>
            <div class="col s12 m12 l4">
                <h5 class="white-text">معلومات</h5>
                <ul>
                    <li><a class="grey-text lighten-3">Lorem, ipsum dolor.</a></li>
                    <li><a class="grey-text lighten-3">Lorem, ipsum.</a></li>
                    <li><a class="grey-text lighten-3">Lorem ipsum dolor sit.</a></li>
                </ul>
            </div>
            <div class="col s12 m12 l4">
                <h5 class="white-text">بلوق ومقاطع الفيديو</h5>
                <ul>
                    <li><a class="grey-text lighten-3">Lorem, ipsum dolor.</a></li>
                    <li><a class="grey-text lighten-3">Lorem, ipsum.</a></li>
                    <li><a class="grey-text lighten-3">Lorem ipsum dolor sit.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row grey darken-4 footer__copyright">
        <div class="col s12">
            <div class="container hide-on-med-and-down">
                <b>Supplements Maroc</b> {{Data.CopyrightDate}} &copy; جميع الحقوق محفوظة

                <a class="right grey-text hide-on-med-and-down valign-wrapper footer__shipping"
                    href="http://www.amana-colis.ma/" target="_blank">
                    <img class="logo" src="/assets/img/logos/amana-logo.png" alt="Amana logo.">
                    <span class="label">الشحن عبر</span>
                </a>
            </div>
            <div class="hide-on-large-only">
                <p>
                    <b>Supplements Maroc</b> {{Data.CopyrightDate}} &copy; جميع الحقوق محفوظة
                </p>
            </div>
        </div>
    </div>
</footer>