{{!-- The navbar. --}}
<div class="navbar-fixed">
	<nav class="nav-extended grey darken-4">

		{{!-- Upper navbar. --}}
		<div class="nav-wrapper container">

			<div class="left">
				<a href="/" class="left brand-logo">
					<img src="/assets/img/logos/logo-text.png" alt="Supplements Maroc's logo.">
				</a>
			</div>

			<div class="right">
				<a href="javascript:void(0)" data-target="nav-sidebar" class="right sidenav-trigger">
					<i class="material-icons">menu</i>
				</a>
			</div>

			<div class="right hide-on-med-and-down">

				{{!-- Phone number. --}}
				<a class="nav-phone" href="tel:{{ Data.Config.Phone.Primary }}">
					<i class="fa fa-phone  nav-icon"></i>
					<b>{{ Data.Config.Phone.Primary }}</b>
				</a>

				{{!-- Social icons. --}}
				<a class="left nav-social" href="{{ Data.Config.Facebook.Link }}" target="_blank">
					<i class="fab fa-facebook-square"></i>
				</a>
				<a class="left nav-social" href="{{ Data.Config.Instagram.Link }}" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<a class="left nav-social" href="{{ Data.Config.Youtube.Link }}" target="_blank">
					<i class="fab fa-youtube"></i>
				</a>
			</div>
		</div>

		{{!-- Lower navbar. --}}
		<nav class="grey darken-4 hide-on-med-and-down nav-lower">
			<div class="nav-wrapper container">
				<ul class="left">
					<li><a href="/">الصفحة الرئيسية</a></li>
					<li><a href="/products" class="dropdown-trigger" data-target="product-category-dropdown">
							{{#if Data.Categories }}
								<i class="material-icons left">arrow_drop_down</i>
							{{/if}}
							جميع المنتوجات
						</a>
					</li>
					<li><a href="javascript:void(0)" class="contact-btn">اتصل بنا</a></li>
					<li><a href="javascript:void(0)" class="about-btn">معلومات عنا</a></li>
				</ul>
				<ul class="right">
					<li class="search-btn big-nav-icon">
						<a href="javascript:void(0)">
							<i class="fa fa-search nav-icon"></i>
						</a>
					</li>
					<li class=" big-nav-icon">
						<a href="javascript:void(0)" class="cart-button">
							<i class="fa fa-shopping-cart nav-icon"></i>
							<small class="red cart-button__badge">0</small>
						</a>
					</li>
					<li class=" big-nav-icon">
						<a href="/dashboard" class="dropdown-trigger" data-target="dashboard-dropdown">
							<i class="fa fa-cog nav-icon"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		{{!-- Search navbar. --}}
		<nav class="grey darken-4 hide-on-med-and-down search-navbar">
			<div class="nav-wrapper">
				<form method="GET" action="/products/search" class="search-large-form">
					<div class="input-field">
						<input id="search" type="search" name="search" class="autocomplete" placeholder="...بحث" autocomplete="off"
							spellcheck="false" required>
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons white-text search-close-btn">close</i>
					</div>
				</form>
			</div>
		</nav>

		{{!-- Small screens' lower navbar. --}}
		<nav class="grey darken-4 hide-on-large-only">
			<div class="nav-wrapper container">
				<div class="right small-screen-nav">
					<div class="search-field">
						<form method="GET" action="/products/search" class="search-small-form">
							<div class="input-field grey darken-2">
								<input type="text" name="search" autocomplete="off" spellcheck="false" class="autocomplete right-align"
									placeholder="...بحث">
								<i class="material-icons right">search</i>
							</div>
						</form>
					</div>
					<div class="cart-section">
						<a href="javascript:void(0)" class="right cart-button">
							<i class="fa fa-shopping-cart nav-icon"></i>
							<small class="red cart-button__badge">0</small>
						</a>
					</div>
				</div>
			</div>
		</nav>
	</nav>
</div>

{{!-- Products Category Menu. --}}
{{#if Data.Categories }}
	<div id="product-category-dropdown" class="grey darken-4 dropdown-content category-dropdown">
		<div class="row">
			{{#each Data.Categories }}
				<div class="col">
					<a href='/products?categories=%5B"{{ this.CategoryName }}"%5D'>
						<h6>{{this.CategoryName }}</h6>
					</a>

					<ul>
						{{#each this.SubCategories }}
							<li>
								<a href='/products?categories=%5B"{{ this.CategoryName }}"%5D'>{{ this.CategoryName }}</a>
							</li>
						{{/each}}
					</ul>
				</div>
			{{/each}}
		</div>
	</div>
{{else}}
	<div id="product-category-dropdown"></div>
{{/if}}

{{!-- Nav sidebar. --}}
<ul class=" sidenav right-align grey lighten-3" id="nav-sidebar">
	<li>
		<a href="/">
			<span dir="ltr">
				الصفحة الرئيسية
				<i class="fas fa-home"></i>
			</span>
		</a>
	</li>
	<li>
		<a href="/products">
			<span dir="ltr">
				جميع المنتوجات
				<i class="fas fa-prescription-bottle"></i>
			</span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0)" class="contact-btn">
			<span dir="ltr">
				اتصل بنا
				<i class="fas fa-at"></i>
			</span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0)" class="about-btn">
			<span dir="ltr">
				معلومات عنا
				<i class="fas fa-info-circle"></i>
			</span>
		</a>
	</li>
	<li>
		<a href="/dashboard">
			<span dir="ltr">
				لوحة القيادة
				<i class="fas fa-columns"></i>
			</span>
		</a>
	</li>
	{{#if loggedIn }}
		<li class="collection-item">
			<a href="/dashboard/orders">
				<div>
					الطلبات
					<fa class="fa fa-outdent"></fa>
					<span class="new badge left" data-badge-caption="جديد">3</span>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/mail/0">
				<div>
					البريد
					<fa class="fa fa-envelope"></fa>

					{{#if NewMail }}
						<span class="new badge left" data-badge-caption="جديد">{{ NewMail }}</span>
					{{/if}}
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/products">
				<div>
					المنتوجات
					<fa class="fa fa-prescription-bottle"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/brands">
				<div>
					العلامات التجارية
					<fa class="fa fa-copyright"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/categories">
				<div>
					الفئات
					<fa class="fa fa-layer-group"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/flavors">
				<div>
					النكهات
					<fa class="fa fa-grin-tongue"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/coupons">
				<div>
					القسائم
					<fa class="fa fa-tag"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/shipping">
				<div>
					الشحن
					<fa class="fa fa-shipping-fast"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/carousel">
				<div>
					الصور المميزة
					<fa class="fa fa-image fa-lg"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/dashboard/config">
				<div>
					الإعدادات
					<fa class="fa fa-cog"></fa>
				</div>
			</a>
		</li>
		<li class="collection-item">
			<a href="/login/logout">
				<div>
					تسجيل الخروج
					<fa class="fa fa-sign-out-alt"></fa>
				</div>
			</a>
		</li>
	{{/if}}
</ul>
