<section class="dashboard dashboard-brands">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <h4 class="grey-text">
                                <i class="fa fa-copyright"></i>
                                Brands [{{ Data.Brands.length }}]
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="brands-tabs" class="tabs">
                                <li class="tab col s6"><a href="#brands-edition-tab">Edit an existing brand</a></li>
                                <li class="tab col s6"><a href="#brands-creation-tab">Add a new brand</a></li>
                            </ul>
                            <div id="brands-creation-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="/dashboard/brands" method="POST">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="brand-name" type="text" name="brand-name"
                                                        class="validate" data-length="50" required>
                                                    <label for="brand-name">Brand name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="brand-logo" type="url" name="brand-logo"
                                                        data-length="300" class="validate">
                                                    <label for="brand-logo">Brand logo</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12">
                                                    <img id="brands-creation-preview" class="materialboxed"
                                                        src="/assets/img/backgrounds/placeholder.jpg" alt="Brand image">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <input type="submit"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Add">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="brands-edition-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <ul class="collapsible">
                                            {{#each Data.Brands }}
                                            <li>
                                                <div class="collapsible-header"><i class="fa fa-edit grey-text"></i>
                                                    {{ this.BrandName }}</div>
                                                <div class="collapsible-body">
                                                    <form action="/dashboard/brands?_method=PUT" method="POST">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="brand-name-{{ this.BrandID }}" type="text"
                                                                    name="brand-name" class="validate" data-length="50"
                                                                    value="{{ this.BrandName }}" required>
                                                                <label for="brand-name-{{ this.BrandID }}">Brand
                                                                    name</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="brand-logo-{{ this.BrandID }}" type="text"
                                                                    name="brand-logo" class="validate" data-length="300"
                                                                    value="{{ this.Logo }}" required>
                                                                <label for="brand-logo-{{ this.BrandID }}">Brand
                                                                    logo</label>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="brand-id" value="{{ this.BrandID }}">
                                                        <div class="row">
                                                            <div class="col s12 center-align">
                                                                <input type="submit"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Edit">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>