{{!-- The carousel script. --}}
<script src="/assets/js/dashboard/carousel.js"></script>

<div class="dashboard dashboard-carousel">
  <div class="row container">
    {{#if Messages.Carousel }}
    <div class="card-panel green lighten-1 right-align flash-card">
      <i class="fa fa-times fa-lg white-text flash-card__close"></i>
      <span class="white-text">{{ Messages.Carousel }}</span>
      <i class="fa fa-check fa-lg white-text"></i>
    </div>
    {{/if}}
  </div>
  <div class="row container">
    <div class="col s12  dashboard__grid">
      <div class="row">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s12">
              <h4 class="grey-text right-align">
                [{{ Data.Carousel.length }}] الصور المميزة
                <i class="fa fa-image"></i>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <ul id="carousel-tabs" class="tabs">
                <li class="tab col s4"><a href="#carousel-edition-tab">تحرير الصور المميزة</a></li>
                <li class="tab col s4"><a href="#carousel-creation-tab">أضف صورة مميزة جديدة</a></li>
                <li class="tab col s4"><a href="#carousel-restoration-tab">استعادة الصور المميزة</a></li>
              </ul>
              <div id="carousel-creation-tab" class="col s12">
                <div class="row">
                  <div class="col s12">
                    <form action="/dashboard/carousel" method="POST">
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="carousel-url" type="url" name="carousel-url" class="validate">
                          <label for="carousel-url">الصورة المميزة</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <img id="carousel-creation-preview" class="materialboxed"
                            src="/assets/img/backgrounds/placeholder.jpg" alt="Carousel image">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 center-align">
                          <input type="submit" class="btn btn-large waves-effect waves-light grey lighten-3"
                            value="إضافة">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div id="carousel-edition-tab" class="col s12">
                <div class="row">
                  <div class="col s12">
                    {{#if Data.Carousel}}
                    <ul class="collapsible">
                      {{#each Data.Carousel }}
                      <li>
                        <div class="collapsible-header"><i class="fa fa-edit grey-text"></i>
                          {{ this.CarouselURL }}</div>
                        <div class="collapsible-body">
                          <form action="/dashboard/carousel?_method=PUT" method="POST">
                            <div class="row">
                              <div class="input-field col s12">
                                <input id="carousel-url-{{ this.CarouselID }}" type="text" name="carousel-url"
                                  class="validate" data-length="300" value="{{ this.CarouselURL }}" required>
                                <label for="carousel-url-{{ this.CarouselID }}">الصور المميزة</label>
                              </div>
                            </div>
                            <input type="hidden" name="carousel-id" value="{{ this.CarouselID }}">
                            <div class="row">
                              <div class="col s6 center-align">
                                <input type="submit" class="btn btn-large waves-effect waves-light grey lighten-3"
                                  value="تحديث">
                              </div>
                              <div class="col s6 center-align">
                                <input type="button"
                                  class="btn btn-large waves-effect waves-light grey lighten-3 btn-delete" value="حذف">
                                <input type="hidden" value="{{ this.CarouselID }}">
                              </div>
                            </div>
                          </form>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                    {{else}}
                    <ul class="collection">
                      <li class="collection-item center-align">لا توجد صور مميزة حاليا</li>
                    </ul>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div id="carousel-restoration-tab" class="col s12">
                <div class="row">
                  <div class="col s12">
                    {{#if Data.DeletedCarousels}}
                    <ul class="collection">
                      {{#each Data.DeletedCarousels }}
                      <li class="collection-item">
                        <div>
                          <input type="hidden" value="{{ this.CarouselID }}">
                          <a href="javascript:void(0)" class="secondary-content btn-restore"><i
                              class="material-icons">restore</i></a>

                          <b>{{ this.CarouselURL }}</b>
                        </div>
                      </li>
                      {{/each}}
                    </ul>
                    {{else}}
                    <ul class="collection">
                      <li class="collection-item center-align">لا توجد صور مميزة محذوفة</li>
                    </ul>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>