<section class="dashboard dashboard-categories">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <h4 class="grey-text">
                                <i class="fa fa-layer-group"></i>
                                Categories [{{ Data.Categories.length }}]
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="categories-tabs" class="tabs">
                                <li class="tab col s6"><a href="#categories-edition-tab">Edit an existing category</a>
                                </li>
                                <li class="tab col s6"><a href="#categories-creation-tab">Add a new category</a></li>
                            </ul>
                            <div id="categories-creation-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="/dashboard/categories" method="POST">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="category-name" type="text" name="category-name"
                                                        class="validate" data-length="50" required>
                                                    <label for="category-name">Category name</label>
                                                </div>
                                            </div>
                                            {{#if Data.Categories }}
                                            <div class="row" id="parent-categories-select">
                                                <div class="input-field col s12">
                                                    <select id="category-parent-sub">
                                                        {{#each Data.Categories }}
                                                        {{#if this.CategoryParent }}{{else}}
                                                        <option value="{{ this.CategoryID }}">{{ this.CategoryName }}
                                                        </option>
                                                        {{/if}}
                                                        {{/each}}
                                                    </select>
                                                    <label>Parent category</label>
                                                    <input type="hidden" id="category-parent-par" name="category-parent"
                                                        value="0">
                                                </div>
                                            </div>
                                            {{else}}
                                            <input type="hidden" name="category-parent" value="0">
                                            {{/if}}
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <p>
                                                        <label id="sub-cat">
                                                            {{#if Data.Categories }}
                                                            <input type="checkbox" />
                                                            {{else}}
                                                            <input type="checkbox" disabled />
                                                            {{/if}}
                                                            <span>This is a sub-category</span>
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <input type="submit"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Add">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="categories-edition-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        {{#if Data.Categories}}
                                        <ul class="collapsible">
                                            {{#each Data.Categories }}
                                            <li>
                                                <div class="collapsible-header"><i class="fa fa-edit grey-text"></i>
                                                    {{ this.CategoryName }}</div>
                                                <div class="collapsible-body">
                                                    <form action="/dashboard/categories?_method=PUT" method="POST">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="category-name-{{ this.CategoryID }}"
                                                                    type="text" name="category-name" class="validate"
                                                                    data-length="50" value="{{ this.FlavorName }}"
                                                                    required>
                                                                <label
                                                                    for="category-name-{{ this.CategoryID }}">Category
                                                                    name</label>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="category-id"
                                                            value="{{ this.CategoryID }}">
                                                        <div class="row">
                                                            <div class="col s6 center-align">
                                                                <input type="submit"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Edit">
                                                            </div>
                                                            <div class="col s6 center-align btn-category-delete"
                                                                data-category-id="{{ this.CategoryID }}">
                                                                <input type="button"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Delete">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{else}}
                                        <ul class="collection">
                                            <li class="collection-item center-align">There are no existing categories
                                            </li>
                                        </ul>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>