<section class="dashboard dashboard-coupons">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <h4 class="grey-text">
                                <i class="fa fa-tag"></i>
                                Coupons [{{ Data.Coupons.length }}]
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="coupons-tabs" class="tabs">
                                <li class="tab col s6"><a href="#coupons-edition-tab">Edit an existing coupon</a></li>
                                <li class="tab col s6"><a href="#coupons-creation-tab">Add a new coupon</a></li>
                            </ul>
                            <div id="coupons-creation-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="/dashboard/coupons" method="POST">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="coupon-name" type="text" name="coupon-name"
                                                        class="validate" data-length="50" required>
                                                    <label for="coupon-name">Coupon code</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <input type="submit"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Add">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="coupons-edition-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        {{#if Data.Coupons}}
                                        <ul class="collapsible">
                                            {{#each Data.Coupons }}
                                            <li>
                                                <div class="collapsible-header"><i class="fa fa-edit grey-text"></i>
                                                    {{ this.CouponCode }}</div>
                                                <div class="collapsible-body">
                                                    <form action="/dashboard/coupons?_method=PUT" method="POST">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="coupon-name-{{ this.CouponID }}" type="text"
                                                                    name="coupon-name" class="validate" data-length="50"
                                                                    value="{{ this.CouponCode }}" required>
                                                                <label for="coupon-name-{{ this.CouponID }}">Coupon
                                                                    code</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col s6 center-align">
                                                                <input type="submit"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Edit">
                                                            </div>
                                                            <div class="col s6 center-align btn-coupon-delete"
                                                                data-flavor-id="{{ this.CouponID }}">
                                                                <input type="button"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Delete">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{else}}
                                        <ul class="collection">
                                            <li class="collection-item center-align">There are no existing coupons
                                            </li>
                                        </ul>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>