<section class="dashboard dashboard-coupons">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <h4 class="grey-text">
                                <i class="fa fa-tag"></i>
                                Coupons [{{ Data.Coupons.length }}]
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="coupons-tabs" class="tabs">
                                <li class="tab col s6"><a href="#coupons-edition-tab">Edit an existing coupon</a></li>
                                <li class="tab col s6"><a href="#coupons-creation-tab">Add a new coupon</a></li>
                            </ul>
                            <div id="coupons-creation-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="/dashboard/coupons" method="POST">
                                            <div class="row">
                                                <div class="input-field valign-wrapper col s12">
                                                    <input id="coupon-code" type="text" name="coupon-code"
                                                        class="validate" data-length="50" required>
                                                    <label for="coupon-code">Coupon code</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="coupon-discount" type="number" name="coupon-discount"
                                                        class="validate" max="100" min="1" data-length="3" required>
                                                    <label for="coupon-discount">Discount</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <div class="switch">
                                                        <p class="grey-text">Coupon state
                                                            <label class="right">
                                                                Idle
                                                                <input type="checkbox" checked
                                                                    id="coupon-state-toggler">
                                                                <span class="lever"></span>
                                                                Active
                                                            </label>
                                                            <input type="hidden" value="1" name="coupon-state"
                                                                id="coupon-state-input">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6 center-align">
                                                    <input type="submit"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Add">
                                                </div>
                                                <div class="col s6 center-align">
                                                    <input type="button" id="coupon-code-generator-btn"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Generate Coupon Code">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="coupons-edition-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        {{#if Data.Coupons}}
                                        <ul class="collapsible">
                                            {{#each Data.Coupons }}
                                            <li>
                                                <div class="collapsible-header"><i class="fa fa-edit grey-text"></i>
                                                    {{ this.CouponCode }}</div>
                                                <div class="collapsible-body">
                                                    <form action="/dashboard/coupons?_method=PUT" method="POST">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="coupon-discount" type="number"
                                                                    name="coupon-discount" class="validate" max="100"
                                                                    min="1" data-length="3"
                                                                    value="{{ this.CouponDiscount }}" required>
                                                                <label for="coupon-discount-{{ this.CouponID }}">Coupon
                                                                    discount</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <div class="switch">
                                                                    <p class="grey-text">Coupon state
                                                                        <label class="right">
                                                                            Idle
                                                                            <input type="checkbox" checked
                                                                                name="coupon-state">
                                                                            <span class="lever"></span>
                                                                            Active
                                                                        </label>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="coupon-id"
                                                            value="{{ this.CouponID }} ">
                                                        <div class="row">
                                                            <div class="col s12 center-align">
                                                                <input type="submit"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Edit">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{else}}
                                        <ul class="collection">
                                            <li class="collection-item center-align">There are no existing coupons
                                            </li>
                                        </ul>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>