<section class="dashboard dashboard-flavors">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <h4 class="grey-text">
                                <i class="fa fa-grin-tongue"></i>
                                Flavors [{{ Data.Flavors.length }}]
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="flavors-tabs" class="tabs">
                                <li class="tab col s6"><a href="#flavors-edition-tab">Edit an existing flavor</a></li>
                                <li class="tab col s6"><a href="#flavors-creation-tab">Add a new flavor</a></li>
                            </ul>
                            <div id="flavors-creation-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="/dashboard/flavors" method="POST">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="flavor-name" type="text" name="flavor-name"
                                                        class="validate" data-length="30" required>
                                                    <label for="flavor-name">Flavor name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <input type="submit"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Add">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="flavors-edition-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <ul class="collapsible">
                                            {{#each Data.Flavors }}
                                            <li>
                                                <div class="collapsible-header"><i class="fa fa-edit grey-text"></i>
                                                    {{ this.FlavorName }}</div>
                                                <div class="collapsible-body">
                                                    <form action="/dashboard/flavors?_method=PUT" method="POST">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="flavor-name-{{ this.FlavorID }}" type="text"
                                                                    name="flavor-name" class="validate" data-length="30"
                                                                    value="{{ this.FlavorName }}" required>
                                                                <label for="flavor-name-{{ this.FlavorID }}">Flavor
                                                                    name</label>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="flavor-id" value="{{ this.FlavorID }}">
                                                        <div class="row">
                                                            <div class="col s6 center-align">
                                                                <input type="submit"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Edit">
                                                            </div>
                                                            <div class="col s6 center-align btn-brand-delete"
                                                                data-brand-id="{{ this.FlavorID }}">
                                                                <input type="button"
                                                                    class="btn btn-large waves-effect waves-light grey lighten-3"
                                                                    value="Delete">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>