<section class="dashboard dashboard-mail">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s9">
                            <h4 class="grey-text">
                                <i class="fa fa-envelope"></i>
                                Mail [{{ Data.Mail.length }}]
                            </h4>
                        </div>
                        <div class="col s3 right-align">
                            <div class="input-field">
                                <select id="mail-mode-select">
                                    <option value="1" {{select Data.Mode 0}}>All</option>
                                    <option value="2" {{select Data.Mode 1}}>Read</option>
                                    <option value="3" {{select Data.Mode 2}}>Unread</option>
                                </select>
                                <label>Show</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>
                                            <label id="select-all-mail-btn">
                                                <input type="checkbox" class="filled-in" />
                                                <span>Select all</span>
                                            </label>
                                        </th>
                                        <th class="grey-text mail-control-buttons right-align" colspan="2">
                                            <i class="fas fa-envelope" id="email-unread-btn"></i>
                                            <i class="fas fa-envelope-open" id="email-read-btn"></i>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each Data.Mail }}
                                    <tr class="{{ isMsgNew this.Read }} grey-text mail" data-id="{{ this.MailID }}">
                                        <td>
                                            <label>
                                                <input type="checkbox" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <b>{{ this.SenderName }}</b>
                                        </td>
                                        <td>
                                            {{ this.Message }}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mail-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4><i class="fa fa-envelope"></i> Mail</h4>

            <div class="mail-content">
                <p>A bunch of text</p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</section>