{{!-- QuillJS. --}}
<link rel="stylesheet" href="//cdn.quilljs.com/1.0.0/quill.snow.css">

{{!-- QuillJS --}}
<script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script>

{{!-- The products script. --}}
<script src="/assets/js/dashboard/products.js"></script>

<section class="dashboard dashboard-products">
    <div class="row">
        <aside class="col s2">
            {{> sidebar NewMail=Data.NewMail }}
        </aside>

        <div class="col s10 dashboard-grid">
            <div class="row">
                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <h4 class="grey-text">
                                <i class="fa fa-prescription-bottle"></i>
                                Products [{{ Data.Products.length }}]
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="products-tabs" class="tabs">
                                <li class="tab col s6"><a href="#products-edition-tab">Edit an existing brand</a></li>
                                <li class="tab col s6"><a href="#products-creation-tab">Add a new brand</a></li>
                            </ul>
                            <div id="products-creation-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="/dashboard/products" method="POST">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="product-name" type="text" name="product-name"
                                                        class="validate" data-length="80" required>
                                                    <label for="product-name">Product name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="product-image" type="text" name="product-image"
                                                        class="validate" required>
                                                    <label for="product-image">Product image</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="product-nutrition" type="text" name="product-nutrition"
                                                        class="validate" required>
                                                    <label for="product-nutrition">Product nutrition</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <label>Product description</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <div id="desc-editor"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <label>Product usage</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <div id="usage-editor"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <label>Product warning</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <div id="warning-editor"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <select>
                                                        {{#each Data.Categories }}
                                                        <option value="{{ this.CategoryID }}">{{ this.CategoryName }}
                                                        </option>
                                                        {{/each}}
                                                    </select>
                                                    <label>Product category</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <select>
                                                        {{#each Data.Brands }}
                                                        <option value="{{ this.BrandID }}">{{ this.BrandName }}
                                                        </option>
                                                        {{/each}}
                                                    </select>
                                                    <label>Product brand</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <input type="submit"
                                                        class="btn btn-large waves-effect waves-light grey lighten-3"
                                                        value="Add">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="products-edition-tab" class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        {{#if Data.Products}}
                                        <table class="stripped">
                                            <thead>
                                                <tr>
                                                    <th>Product name</th>
                                                    <th>Quantity</th>
                                                    <th>Category</th>
                                                    <th>Added date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each Data.Products }}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                {{/each}}
                                            </tbody>
                                        </table>

                                        {{else}}
                                        <ul class="collection">
                                            <li class="collection-item center-align">There are no existing products</li>
                                        </ul>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>