<!DOCTYPE html>

<html lang="en">

<head>

    {{!-- Meta data. --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="EOussama">
    <meta name="application-name" content="Supplements Maroc">
    <meta name="description" content="Online store for selling workout-related protein products.">
    <meta name="keywords" content="store, e-commerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- The favicon. --}}
    <link rel="icon" href="/assets/img/favicon.png">

    {{!-- FontAwesome. --}}
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    {{!-- Materialize Stylesheet. --}}
    <link rel="stylesheet" href="/assets/materialize/dist/css/materialize.min.css">

    {{!-- Material Icons. --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {{!-- The main stylesheet. --}}
    <link rel="stylesheet" href="/assets/css/main.css">

    {{!-- JQuery Script. --}}
    <script src="/assets/jquery/dist/jquery.min.js"></script>

    {{!-- Materialize Script. --}}
    <script src="/assets/materialize/dist/js/materialize.min.js"></script>

    {{!-- The main script. --}}
    <script src="/assets/js/main.js"></script>

    {{!-- The contact script. --}}
    <script src="/assets/js/contact.js"></script>

    {{!-- The title. --}}
    <title>Supplements Maroc</title>
</head>

<body>

    {{!-- The navbar. --}}
    <div class="navbar-fixed">
        <nav class="nav-extended grey darken-4">

            {{!-- Upper navbar. --}}
            <div class="nav-wrapper container">

                <div class="left">
                    <a href="/" class="brand-logo hide-on-med-and-down" title="Supplement Maroc">SM</a>
                    <a href="/" class="brand-logo right hide-on-large-only" title="Supplement Maroc">SM</a>
                </div>

                <div class="right hide-on-med-and-down">

                    {{!-- Phone number. --}}
                    <a class="grey-text" href="javascript:void(0)">
                        <i class="fa fa-phone nav-phone nav-icon"></i>
                        <b>{{Data.Config.Phone.Primary}}</b>
                    </a>

                    {{!-- Social icons. --}}
                    <a class="left nav-social grey-text" href="{{Data.Config.Facebook.Link}}" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="left nav-social grey-text" href="{{Data.Config.Instagram.Link}}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="left nav-social grey-text" href="{{Data.Config.Youtube.Link}}" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

            {{!-- Lower navbar. --}}
            <nav class="grey darken-3 hide-on-med-and-down">
                <div class="nav-wrapper container">
                    <ul class="left">
                        <li><a href="/">الصفحة الرئيسية</a></li>
                        <li><a href="/search">جميع المنتوجات</a></li>
                        <li><a href="javascript:void(0)" id="contact-btn">اتصل بنا</a></li>
                        <li><a href="javascript:void(0)" id="about-btn">معلومات عنا</a></li>
                    </ul>
                    <ul class="right">
                        <li id="search-btn">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search nav-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" id="cart-button">
                                <i class="fa fa-shopping-cart nav-icon"></i>
                                <small class="cart-badge red">0</small>
                            </a>
                        </li>
                        <li><a href="/dashboard"><i class="fa fa-cog nav-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>

    {{!-- Contact Modal. --}}
    <div id="contact-modal" class="modal modal-fixed-footer">
        <form id="contact-form" class="col s12">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="right-align">اتصل بنا</h4>
                    </div>
                </div>

                <div class="row message-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="message-username" type="text" class="right-align validate" data-length="100"
                                name="username" minlength="2" required>
                            <label for="message-username">اسم المستخدم</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="message-email" type="email" class="right-align validate" data-length="80"
                                name="email" required>
                            <label for="message-email">البريد الإلكتروني</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="message-message" class="right-align materialize-textarea" data-length="2000"
                                rows="5" name="message" minlength="5" required></textarea>
                            <label for="message-message">رسالة</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="waves-effect waves-green btn-flat" value="إرسال">
                <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn-flat">أغلق</a>
            </div>
        </form>
    </div>

    {{!-- Scroll back to top button. --}}
    <a href="javascript:void(0)" id="scroll-to-top" title="Scroll to top" class="visible">
        <i class="fas fa-chevron-up fa-2x"></i>
    </a>

    {{!-- The main content of the page. --}}
    <main>
        {{{body}}}
    </main>

    {{!-- The footer's partial. --}}
    <footer id="about" class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">معلومات عنا</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis quisquam fugit cumque quibusdam
                        consequuntur facilis voluptas nemo a? Quod, incidunt ad quia cupiditate placeat non laudantium
                        sit sapiente dicta provident?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nesciunt vitae ipsa repellat,
                        alias animi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, adipisci quo doloremque nobis
                        magnam facere reprehenderit delectus itaque iusto praesentium blanditiis ratione tenetur at
                        ipsum ipsam sapiente consectetur suscipit aliquid velit debitis perferendis corrupti? Dolore
                        cumque ad aperiam voluptates eum.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">اتصل بنا</h5>
                    <ul class="contact-list">
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">
                                <i class="fa fa-mobile fa-lg"></i>
                                <span>{{Data.Config.Phone.Primary}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">
                                <i class="fa fa-mobile fa-lg"></i>
                                <span>{{Data.Config.Phone.Secondary}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">
                                <i class="fa fa-phone fa-lg"></i>
                                <span>{{Data.Config.Phone.Fixed}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="mailto:{{Data.Config.Email}}">
                                <i class="fa fa-at fa-lg"></i>
                                <span>{{Data.Config.Email}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="{{Data.Config.Facebook.Link}}" target="_blank">
                                <i class="fab fa-facebook fa-lg"></i>
                                <span>{{Data.Config.Facebook.Name}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="{{Data.Config.Instagram.Link}}" target="_blank">
                                <i class="fab fa-instagram fa-lg"></i>
                                <span>{{Data.Config.Instagram.Name}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="{{Data.Config.Youtube.Link}}" target="_blank">
                                <i class="fab fa-youtube fa-lg"></i>
                                <span>{{Data.Config.Youtube.Name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <h5 class="white-text">أهداف</h5>
                    <ul>
                        <li><a class="grey-text lighten-3">Lorem, ipsum dolor.</a></li>
                        <li><a class="grey-text lighten-3">Lorem, ipsum.</a></li>
                        <li><a class="grey-text lighten-3">Lorem ipsum dolor sit.</a></li>
                    </ul>
                </div>
                <div class="col s4">
                    <h5 class="white-text">معلومات</h5>
                    <ul>
                        <li><a class="grey-text lighten-3">Lorem, ipsum dolor.</a></li>
                        <li><a class="grey-text lighten-3">Lorem, ipsum.</a></li>
                        <li><a class="grey-text lighten-3">Lorem ipsum dolor sit.</a></li>
                    </ul>
                </div>
                <div class="col s4">
                    <h5 class="white-text">بلوق ومقاطع الفيديو</h5>
                    <ul>
                        <li><a class="grey-text lighten-3">Lorem, ipsum dolor.</a></li>
                        <li><a class="grey-text lighten-3">Lorem, ipsum.</a></li>
                        <li><a class="grey-text lighten-3">Lorem ipsum dolor sit.</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="container">
                <b>Supplements Maroc</b> &copy; {{Data.CopyrightDate}}

                <a class="right grey-text shipping-footer" href="http://www.amana-colis.ma/" target="_blank">
                    <img class="amana-logo" src="/assets/img/logos/amana-logo.png" alt="Amana logo.">
                    <span>الشحن عبر</span>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>