<section class="container product-section">
    <div class="row product-section__upper">
        <div class="col s8 white z-depth-2 product-section__upper__header">
            <div class="col s3 product-section__upper__header__img">
                <img src="{{ Data.ProductVariant.VariantImage }}" alt="{{ Data.ProductInfo.ProductName }}'s image.">
            </div>
            <div class="col s9">
                <h4>{{ Data.ProductInfo.ProductName }}</h4>
                <div class="chip">&rlm;{{ formatWeight Data.ProductVariant.Weight }}
                    {{ weightUnite Data.ProductVariant.Weight }}
                </div>
                <div class="chip">&rlm;{{ Data.ProductVariant.FlavorName }}</div>
            </div>
        </div>
        <div class="col s3 offset-s1 white z-depth-2 product-section__upper__action">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti consequatur earum distinctio, est iusto
                magni eligendi, incidunt nostrum, amet perspiciatis quam repudiandae omnis possimus similique ex sequi
                facere ad rerum.</p>
        </div>
    </div>
    </div>
    <div class="row product-section__lower">
        <div class="col s8 white z-depth-2 product-section__lower__main">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum magni, eos veniam atque sint
                quidem odit dolores modi perspiciatis nemo ipsum nostrum nesciunt, veritatis incidunt mollitia?
                Consequatur, nemo temporibus?</p>
        </div>
        <div class="col s3 offset-s1 white z-depth-2 product-section__lower__side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti consequatur earum distinctio, est iusto
                magni eligendi, incidunt nostrum, amet perspiciatis quam repudiandae omnis possimus similique ex sequi
                facere ad rerum.</p>
        </div>
    </div>
</section>