<section class="container products-section">
    <div class="row product-search grey lighten-3 z-depth-2">
        <div class="col s12">

        </div>
    </div>
    <div class="row products-list grey lighten-3 z-depth-2">
        {{#each Data.TopProducts }}
        <div class="col m12 l6 xl4">
            <div class="card sticky-action product-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ this.ProductImage }}">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">
                        <a href="/products/{{ this.ProductID }}" class="black-text">
                            {{ this.ProductName }}
                        </a>
                    </span>
                    <div class="chip">&rlm;{{ this.Weight }} كلغ</div>
                    <div class="chip">&rlm;{{ this.FlavorName }}</div>
                </div>
                <div class="card-action price right-align">
                    <div class="row center-align">
                        {{#displayOldPrice this.OldPrice this.NewPrice}}
                        <div class="col s12">
                            <span class="grey-text">
                                <del>{{ formatCurrency this.OldPrice }}</del>
                            </span>
                        </div>
                        {{/displayOldPrice}}
                        <div class="col s12">
                            <span>
                                <b class="green-text">{{ formatCurrency this.NewPrice }}</b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a href="javascript:void(0)" class="green-text">شراء</a>
                    <a href="javascript:void(0)" class="green-text" title="أضف إلى السلة">
                        <i class="fa fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>