<script src="/assets/js/product.js"></script>

<section class="container product-section" data-variant-id="{{ Data.ProductInfo.VariantID }}">
	<div class="row product-section__upper">
		<div class="col s12 m7 l8 card-panel product-section__upper__header">
			<h4 class="grey lighten-4 hide-on-large-only center-align">{{ Data.ProductInfo.ProductName }}</h4>
			<div class="col s12 m12 l3 product-section__upper__header__img">
				<img src="{{ Data.ProductInfo.VariantImage }}" alt="{{ Data.ProductInfo.ProductName }}'s image."
					class="responsive-img materialboxed">
			</div>
			<div class="col s12 l9 hide-on-med-only">
				<h4 class="grey lighten-4 center-align hide-on-med-and-down">{{ Data.ProductInfo.ProductName }}</h4>
				<table class="centered striped grey lighten-4 hide-on-small-and-down">
					<tbody>
						<tr>
							<td>
								<div class="chip">&rlm;{{ formatWeight Data.ProductInfo.Weight }}
									{{ weightUnite Data.ProductInfo.Weight }}
								</div>
							</td>
							<td>
								الوزن
							</td>
						</tr>
						<tr>
							<td>
								<div class="chip">&rlm;{{ Data.ProductInfo.CategoryName }}</div>
							</td>
							<td>
								الفئة
							</td>
						</tr>
						<tr>
							<td>
								<div class="chip">&rlm;{{ Data.ProductInfo.FlavorName }}</div>
							</td>
							<td>النكهة</td>
						</tr>
						<tr>
							<td>
								<div class="chip">&rlm;{{ Data.ProductInfo.BrandName }}</div>
							</td>
							<td>العلامة التجارية</td>
						</tr>
					</tbody>
				</table>
				<table class="centered striped grey lighten-4 hide-on-med-and-up">
					<tbody>
						<tr>
							<td>
								<div class="chip">&rlm;{{ formatWeight Data.ProductInfo.Weight }}
									{{ weightUnite Data.ProductInfo.Weight }}
								</div>
							</td>
							<td>
								الوزن
							</td>
						</tr>
						<tr>
							<td>
								<div class="chip">&rlm;{{ Data.ProductInfo.CategoryName }}</div>
							</td>
							<td>
								الفئة
							</td>
						</tr>
						<tr>
							<td>
								<div class="chip">&rlm;{{ Data.ProductInfo.FlavorName }}</div>
							</td>
							<td>النكهة</td>
						</tr>
						<tr>
							<td>
								<div class="chip">&rlm;{{ Data.ProductInfo.BrandName }}</div>
							</td>
							<td>العلامة التجارية</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col s12 m4 l3 offset-m1 offset-l1 card-panel product-section__upper__action">
			<div class="row">
				<div class="col s12">
					<div class="input-field col s12 product-variant-select">
						<select>
							{{#each Data.Variants }}
							<option value="{{ this.VariantID }}">&rlm;{{ formatWeight this.Weight }} {{ weightUnite this.Weight }}
							</option>
							{{/each}}
						</select>
						<label>أنواع أخرى</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="input-field col s12 product-flavor-select">
						<select>
							{{#each Data.Flavors }}
							<option value="{{ this.FlavorID }}">{{ this.FlavorName }}</option>
							{{/each}}
						</select>
						<label>النكهات</label>
					</div>
				</div>
			</div>
			<div class="row center-align product-section__price">
				<div class="col s12">
					{{#displayOldPrice Data.ProductInfo.OldPrice Data.ProductInfo.NewPrice}}
					<div class="col s12">
						<span class="grey-text">
							<del>{{ formatCurrency Data.ProductInfo.OldPrice }}</del>
						</span>
					</div>
					{{/displayOldPrice}}
					<div class="col s12">
						<span>
							<b class="green-text">{{ formatCurrency Data.ProductInfo.NewPrice }}</b>
						</span>
					</div>
				</div>
			</div>
			<div class="row product-section__buy">
				<div class="col s12">
					<a href="javascript:void(0)" class="btn btn-large waves-effect green product-card__btn">اشتري الآن</a>
					<a href="javascript:void(0)" class="btn waves-effect white green-text product-card__btn"
						title="أضف إلى السلة">
						<i class="fa fa-cart-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-large-only hide-on-small-and-down">
		<div class="col m12 card-panel">
			<table class="centered striped grey lighten-4">
				<tbody>
					<tr>
						<td>
							<div class="chip">&rlm;{{ formatWeight Data.ProductInfo.Weight }}
								{{ weightUnite Data.ProductInfo.Weight }}
							</div>
						</td>
						<td>
							الوزن
						</td>
						<td>
							<div class="chip">&rlm;{{ Data.ProductInfo.CategoryName }}</div>
						</td>
						<td>
							الفئة
						</td>
					</tr>
					<tr>
						<td>
							<div class="chip">&rlm;{{ Data.ProductInfo.FlavorName }}</div>
						</td>
						<td>النكهة</td>
						<td>
							<div class="chip">&rlm;{{ Data.ProductInfo.BrandName }}</div>
						</td>
						<td>العلامة التجارية</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row product-section__lower">
		<ul class="col s12 m8 l8 white collapsible product-section__lower__main">
			<li class="active">
				<div class="collapsible-header"><i class="material-icons">description</i>الوصف</div>
				<div class="collapsible-body">{{{ Data.ProductInfo.Description }}}</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">check</i>طريقة الاستخدام</div>
				<div class="collapsible-body">{{{ Data.ProductInfo.Usage }}}</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">warning</i>التحذيرات</div>
				<div class="collapsible-body">{{{ Data.ProductInfo.Warning }}}</div>
			</li>
		</ul>
		<div class="col s12 m3 l3 offset-m1 offset-l1 white card-panel product-section__lower__side">
			<h4 class="center-align">حقائق غذائية</h4>
			<img class="responsive-img materialboxed" src="{{ Data.ProductInfo.NutritionInfo }}"
				alt="{{ Data.ProductInfo.ProductName }}'s nutrition facts.">
		</div>
	</div>
</section>